dash
dash-renderer
dash-core-components
dash-html-components
plotly
gunicorn

xarray
numpy
h5netcdf

# solitonscattering
git+git://github.com/rparini/solitonscattering@edb058e365a962fc61c8853eaca2ac03b9539611#egg=solitonscattering
cxroots
